
body{
     background-color: rgb(82, 139, 139);  
}

h1 {
     font-family:Arial, Helvetica, sans-serif;
 }
 p {
     font-family: Times, 'Times New Roman', serif;
 }
 .unix{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .git{
     font-family: fantasy;
 }
 .html{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .css{
     font-family: sans-serif;
 }
