
body{
     background-color: rgba(235, 235, 235, 0.815); 
     padding: 4%; 
}
#img{
     border-radius: 80%;
     padding: 3px;
     background-color: black;
} 
div{
    display: inline-block;
}
#container{
    display: inline-flex;
}

h1 {
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;      
}

p {
    font-family: Times, 'Times New Roman', serif;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 5em;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
    margin-left: 20px;
}



}
.unix{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .git{
     font-family: fantasy;
 }
 .html{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .css{
     font-family: sans-serif;
 }

 